<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freeme.themeclub"
    android:versionCode="1"
    android:versionName="2.0" >
      
    <uses-sdk
        android:minSdkVersion="21"    
        android:targetSdkVersion="21" />
  
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.CLEAR_APP_USER_DATA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.HARDWARE_TEST" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MASTER_CLEAR" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIMAX_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIMAX_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CLEAR_APP_USER_DATA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOVE_PACKAGE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.BACKUP" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.STATUS_BAR" />
    <uses-permission android:name="android.permission.MANAGE_USB" />
    <uses-permission android:name="android.permission.SET_POINTER_SPEED" />
    <uses-permission android:name="android.permission.SET_KEYBOARD_LAYOUT" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.COPY_PROTECTED_DATA" />
    <uses-permission android:name="android.permission.MANAGE_USERS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.CONFIGURE_WIFI_DISPLAY" />
    <uses-permission android:name="android.permission.SET_TIME" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.STATUS_BAR" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.ACCESS_MTK_MMHW" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_COMPONENT" />
    <uses-permission android:name="android.permission.BIND_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCOUNT_MANAGER" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    
    <!-- for adroi ad ,optional -->
    <uses-permission android:name="android.permission.GET_TASKS" />


    <application
        android:name="com.freeme.themeclub.wallpaper.OnlineWallpaperApplication"
        android:allowBackup="true"
        android:allowClearUserData="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_app_theme"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppBaseTheme2"
        android:supportsRtl="true" >
        <activity
            android:name="com.freeme.themeclub.MainActivity"
            android:configChanges="locale"
            android:icon="@drawable/ic_app_theme"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme2" 
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.THEME_MANAGER" />
                <action android:name="android.settings.WALLPAPER_SETTINGS_KBSTYLE" />
                <action android:name="android.settings.WALLPAPER_SETTINGS" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.freeme.themeclub.individualcenter.ThemeDetailActivity"
            android:label="@string/theme_detail"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow" 
            android:theme="@style/AppBaseTheme2" 
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name="com.freeme.themeclub.search.SearchActivity"
            android:label="@string/title_activity_search" 
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme2" >
        </activity>
        
        <activity
            android:name="com.freeme.themeclub.resourcemanager.ResourceManagerActivity"
            android:label="@string/title_activity_resourcemanager" 
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme2" >
        </activity>
        
        <activity
            android:name="com.freeme.themeclub.individualcenter.LockscreenDetailActivity"
            android:label="@string/lockscreen_title"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow" 
            android:theme="@style/AppBaseTheme2" >
        </activity>
        <activity
            android:name="com.freeme.themeclub.wallpaper.WallpaperDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|mnc|mcc"
            android:excludeFromRecents="true"   
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Resource.Theme.Wallpaper" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>  
        <activity
            android:name="com.freeme.themeclub.wallpaper.OnlineWallpaperDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|mnc|mcc"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"  
            android:theme="@style/Theme.Resource.Theme.Wallpaper" 
            android:launchMode="singleTop">   
        </activity>
        <activity
            android:name="com.freeme.themeclub.wallpaper.OnlineSpecialDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|mnc|mcc">
        </activity>
        <activity
            android:name="com.freeme.themeclub.theme.onlinetheme.OnlineThemesDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme2"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.OnlineThemesDetail" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.freeme.themeclub.theme.onlinetheme.CategoryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.OnlineThemes" />
                <action android:name="android.intent.action.OnlineLockscreens" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.freeme.themeclub.wallpaper.CategoryWallpaperActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.freeme.themeclub.individualcenter.FontInstallActivity"
            android:label="@string/fontinstall_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme2"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wallpaper.livepicker.LiveWallpaperActivity"
            android:hardwareAccelerated="true"
            android:label="@string/live_wallpaper_picker_label"
            android:theme="@style/LivePickerTheme" >
            <intent-filter>
                <action android:name="android.service.wallpaper.LIVE_WALLPAPER_CHOOSER" />
                <action android:name="android.intent.action.SET_WALLPAPER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.wallpaper.preview"
                android:resource="@xml/wallpaper_picker_preview" />
        </activity>
        <activity
            android:name=".wallpaper.livepicker.LiveWallpaperChange"
            android:label="@string/live_wallpaper_preview_title"
            android:theme="@style/Preview" >
            <intent-filter>
                <action android:name="android.service.wallpaper.CHANGE_LIVE_WALLPAPER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wallpaper.livepicker.LiveWallpaperPreview"
            android:label="@string/live_wallpaper_preview_title"
            android:theme="@style/Preview" />

        <service
            android:name="com.freeme.themeclub.theme.onlinetheme.download.BackInstallService" 
            android:enabled="true" >
        </service>

        <!--
        <receiver android:name="com.freeme.themeclub.theme.onlinetheme.DownloadingReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
            </intent-filter>
        </receiver>

        -->

        <receiver android:name=".updateself.UpdateSelfReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.freeme.themeclub.individualcenter.IndividualThemeFragment$Theme7BroadcastReceiver2" >
            <intent-filter>
                <action android:name="com.freeme.themeclub.seventheme.receiver" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.freeme.themeclub.theme.onlinetheme.download.CompleteReceiver" >          
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".updateself.ForceUpdateActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/DialogActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".updateself.UpdateDialogActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/DialogActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".updateself.NetworkTipActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".updateself.UpdateSelfService" />

        <provider
            android:name="com.freeme.themeclub.theme.onlinetheme.ThemeDownloadProvider"
            android:authorities="com.freeme.themeclub.provider.themedownload" />
        
        <provider
            android:name="com.freeme.themeclub.ThemeProvider"
            android:authorities="com.freeme.thememanager.ThemeProvider"
            android:exported="true" >
        </provider>
        
         <receiver android:name="com.freeme.themeclub.ThemeReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        
         <!-- for adroi ad -->
        <activity
            android:name="com.adroi.sdk.AppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
    </application>

</manifest>